@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container .cards {
    padding: 40px 60px;
}

.container .card1 {
    background-color: hsl(31, 77%, 52%);
}

.container .card2 {
    background-color: hsl(184, 100%, 22%);
}

.container .card3 {
    background-color: hsl(179, 100%, 13%);
}

.container img {
    margin-bottom: 40px;
}

.container .cards__heading {
    margin-bottom: 40px;
    color: hsl(0, 0%, 95%);
}

.container .cards__text {
    margin-bottom: 80px;
    line-height: 1.8;
    color: hsla(0, 0%, 100%, 0.75);
}

.container .cards__btn {
    font-size: .9em;
    font-weight: bold;
    background-color: #fff;
    padding: .8em 1.9em;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 30px;
    transition: all .4s ease-in-out;
}

.container .cards .btn1 {
    color: hsl(31, 77%, 52%);
}

.container .cards .btn2 {
    color: hsl(184, 100%, 22%);
}

.container .cards .btn3 {
    color: hsl(179, 100%, 13%);
}

.container .btn1:hover,
.container .btn1:active {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    /* padding: .6em 1.7em; */
}
.container .btn1:hover,
.container .btn1:active {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    /* padding: .6em 1.7em; */
}

.container .btn2:hover,
.container .btn2:active {
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    /* padding: .6em 1.7em; */
}

.container .btn3:hover,
.container .btn3:active {
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    /* padding: .6em 1.7em; */
}

.attribution { 
    font-size: 11px;
    text-align: center;
    /* margin-top: 3em; */
    border: 1px solid #000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media (max-width: 56em) {
    body {
        height: auto;
    }

    .container {
        grid-template-columns: 1fr;
        margin: 2em auto;
    }
}